page-home {

  ion-header {
    position: initial;
  }

  .header-md::after, .header-ios::after {
    display: none;
  }

  header {
    height: $headerHeight;
    width: 100%;
    background-image: url('../assets/img/cover.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    display: -webkit-box;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;

    .title {
      position: relative;
      z-index: 10;

      .couple-title {
        font-family: 'Dancing Script', cursive;
        font-size: 4.5em;
        transform: rotate(-1deg);
        text-align: center;
        color: $white;

        @media screen and (max-width: $desktop) {
          font-size: 4em;
        }
      }

      .couple-subtitle {
        font-size: 1.6em;
        display: block;
        font-weight: 700;
        color: $white;

        @media screen and (max-width: $desktop) {
          font-size: 1em;
        }
      }
    }

    .color-overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      width: 100%;
      height: 100%;
      background-color: $primaryColor;
      background-image: $gradient;
      opacity: 0.7;
    }
  }

  .section-title {
    margin: ($rootSize * 2) $rootSize;
    position: relative;
    text-align: center;

    .section-title-text {
      color: $darkGrey;
      font-size: 1.4em;

      &::before {
        position: absolute;
        left: 0;
        right: 0;
        background: lighten($darkGrey, 40%);
        content: "";
        height: 1px;
        top: 60%;
        z-index: -2;
      }

      &::after {
        position: absolute;
        left: 0;
        right: 0;
        background: $pageBackground;
        content: "";
        height: $rootSize;
        top: 54%;
        width: $rootSize * 20;
        z-index: -1;
        margin: 0 auto;
      }
    }
  }

  .avatar {
    margin: $rootSize 0;
    border-top: $border solid $grey;

    ion-item {
      display: inline-block;
      width: initial;
      min-height: 0;
      padding-left: 0;

      .item-inner {
        display: none;
      }

      ion-avatar[item-start] {
        margin: 0 ($rootSize / 2) 0;
        min-height: $avatarSize;
        min-width: $avatarSize;
        height: $avatarSize;
        width: $avatarSize;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .range {
    padding: 0;

    .label {
      margin-top: $rootSize * 3;
      font-size: 1.4em;
      color: $darkGrey;
    }
  }

  .range-slider {
    .range-knob-handle {
      display: none;
    }

    .range-bar {
      border-radius: $fullBorderRadius;
      height: $rootSize * 2.5;
      background: $white;
      border: $border solid $primaryColor;

      &.range-bar-active {
        background-color: $primaryColor;
      }
    }
  }

  .main-input {
    border: $borderMedium solid $grey !important;
    border-radius: $rootSize;
    color: $darkGrey;
    margin: $rootSize 0;

    &:focus {
      border-color: $primaryColor;
      color: #000000;
    }
  }

  .footer {
    background-color: lighten($grey, 20%);
    padding: $rootSize * 6;
    margin-top: $rootSize;
    color: $darkGrey;
    padding-bottom: 0;

    .footer-content {
      border-bottom: $border solid rgba(217,226,240,0.6);

      @media screen and (max-width: $mobile) {
        display: flex;
        align-items: center;
      }

      dl {
        color: #293e52;
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 1.86;

        dt {
          font-weight: bold;
        }

        dd {
          margin: 0;
          padding: 0;

          a {
            text-decoration: none;
            color: #99a9be;

            &:hover {
              color: darken(#99a9be, 15%);
            }
          }
        }
      }
    }
  }
}

// Card
.card {
  border-radius: $cardBorderRadius;
  transition: all .2s ease-in-out;


  .img-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0
    }

    .card-infos {
      z-index: 10;

      .icon-title {
        font-size: 2.5em;
        position: absolute;
        top: $rootSize;
        left: $rootSize * 2;
        font-weight: bold;
      }

      .dream-price {
        font-size: 1.8em;
        position: absolute;
        top: $rootSize;
        right: $rootSize * 2;
        font-weight: bold;
        color: $white;
        text-shadow: $titleTextShadow;
      }

      .dream-title {
        display: block;
        font-weight: bold;
        text-align: center;
        color: $white;
        text-shadow: $titleTextShadow;
      }

      .dream-description {
        display: block;
        font-weight: bold;
        text-align: center;
        color: $white;
        text-shadow: $titleTextShadow;
      }
    }

    .color-overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      width: 100%;
      height: 100%;

      &.primary {
        background-color: $tertiaryColor;
        opacity: 0.7;
      }

      &.secondary {
        background-color: $secondaryColor;
        opacity: 0.6;
      }

    }
  }

  ion-label {
    font-weight: bold;
    color: $darkGrey;
  }

  &.highlight {
    border: $borderMedium solid $secondaryColor;
    box-shadow: none;

    .card-title {
      font-size: 1.4em;
      color: $secondaryColor;
      text-transform: capitalize;

      margin-top: $rootSize * 3;
    }
  }

  .card-title {
    font-size: 1.4em;
    margin-top: $rootSize * 2;
  }

  .alreary-donators-title {
    text-transform: uppercase;
    color: $darkGrey;
    letter-spacing: 0.1em;
    margin: ($rootSize * 2) 0;
    font-size: 12px;
  }
}

.silicon-village {
  background-image: url("../assets/img/silicon-village.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 80px;
  display: inline-block;
  margin: $rootSize 0;
}

.fin-flags {
  background-image: url("../assets/img/fin-flags.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 55px;
  display: inline-block;
  margin: $rootSize 0;
}
