<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

<ion-content>
  <ion-header>
    <ion-navbar>
      <ion-title>
        <span class="logo"></span>
      </ion-title>
    </ion-navbar>
  </ion-header>

  <header>
    <div class="color-overlay"></div>
    <div class="title">
      <h1 class="couple-title"> Haira & Rafael</h1>
      <h2 class="couple-subtitle">Faça parte da realização do nosso sonho</h2>
    </div>
  </header>
  <div class="ui container">
    <ion-grid hideWhen="!couple && !couple.main_dreams.length">
      <ion-row >
        <ion-col col-3 col-sm *ngFor="let dream of couple.main_dreams">
          <ion-card class="highlight">
            <div class="ui icon container" padding>
              <ion-icon name="ios-cloudy-night-outline" color="primary"></ion-icon>
            </div>
            <ion-card-content>
              <ion-card-title>
                {{dream.title}}
              </ion-card-title>
              <p> {{dream.desciption}}</p>

              <ion-list>
                <ion-label stacked>Presentear com:</ion-label>
                <ion-input class="main-input" type="tel" [(ngModel)]="dream.contribution" placeholder="R$"></ion-input>
              </ion-list>

              <button ion-button rounded full (click)="selectGift(dream)">Presentear</button>
              <ion-list class="avatar">
                <ion-range min="0" max="{{dream.price}}" [(ngModel)]="dream.received" readonly disabled color="secondary">
                  <ion-label range-right>R$ {{dream.price}}</ion-label>
                </ion-range>
                <div *ngIf="dream && dream.contribers">
                  <h6>Já presenteram</h6>
                  <ion-item  *ngFor="let c of dream.contribers">
                    <ion-avatar item-start >
                      <img src="{{c.photo}}">
                    </ion-avatar>
                  </ion-item>
                </div>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid hideWhen="!couple && !couple.secondary_dreams.length">
      <ion-row>
        <ion-col col-3 col-sm *ngFor="let dream of couple.secondary_dreams">
          <ion-card>
            <ion-card-content>
              <ion-card-title>
                {{dream.title}}
              </ion-card-title>

              <ion-list>
                <ion-label stacked>Presentear com:</ion-label>
                <ion-input class="main-input" placeholder="R$"></ion-input>
              </ion-list>
              <button ion-button rounded full (click)="selectGift()">Presentear</button>

              <ion-list class="avatar">
                <ion-range min="0" max="{{dream.price}}" [(ngModel)]="dream.received" readonly disabled color="secondary">
                  <ion-label range-right>R$ {{dream.price}}</ion-label>
                </ion-range>
                <div *ngIf="dream && dream.contribers && dream.contribers.length">
                  <h6 class="alreary-donators-title">Já presentearam</h6>
                  <ion-item  *ngFor="let c of dream.contribers">
                    <ion-avatar item-start >
                      <img src="{{c.photo}}">
                    </ion-avatar>
                  </ion-item>
                </div>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
  <footer class="footer" text-center>
    chadepane.la - Todos os direitos reservados - São Paulo, SP
    <img class="pagseguro" src="http://s3.amazonaws.com/img.iluria.com/user_layout_theme/2E004/paymentBanner.jpg?r=0.834133"/>
  </footer>
</ion-content>
