$rootSize: 8px;

page-home {
  header {
    height: 350px;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 959px) {
      height: 300px;
    }

    .title {
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      z-index: 3;
      padding: 60px 30px;
    }

    h1, h2 {
      color: white;
      text-align: center;
    }

    h1 {
      font-family: 'Dancing Script', cursive;
      font-size: 110px;
      margin: 10px 0 0;
      opacity: 1;
      transform: rotate(-1deg);

      @media screen and (max-width: 959px) {
        font-size: 46px;
        margin: 0 0 30px;
      }
    }

    h2 {
      font-size: 30px;
      display: block;
      letter-spacing: 0.1em;
      font-weight: 700;

      @media screen and (max-width: 959px) {
        font-size: 20px;
      }
    }

    img {
      width: 100%;
      height: auto;
      position: absolute;
      z-index: 1;
      max-width: none;
      transform: scale(1.5);
    }

    .color {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-color: #30d0fb;
      background-image: linear-gradient(147deg, #30d0fb 0%, #8142f9 68%);
      opacity: 0.7;
    }
  }

  .avatar {
    margin: 20px 0 0;
    border-top: 1px solid #eee;
    padding: 15px 0 0;

    ion-item {
      display: inline-block;
      width: initial;
      min-height: 0;
      padding-left: 0;

      .item-inner {
        display: none;
      }

      ion-avatar[item-start] {
        margin: 0 5px 0;
        min-height: 22px;
        min-width: 22px;
        height: 22px;
        width: 22px;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .range {
    padding: 0;
  }

  .range-slider {

    .range-knob-handle {
      display: none;
    }

    .range-bar {
      border-radius: 50px;
      height: 20px;
      background: white;
      border: 1px solid #30d0fb;
      top: 11px;

      &.range-bar-active {
        background-color: #30fbc1;
        background-image: linear-gradient(147deg, #30fbf4 0%, #30fbc1 68%);
      }
    }
  }

  .main-input {
    border: 2px solid #ddd !important;
    border-radius: 8px;
    color: black;
    margin: $rootSize 0;

    &:focus {
      border-color: #8142f9;
    }
  }

  body {
    padding: 0;
    background: #e6e6e6;
    font-family: 'Helvetica', 'Arial';
  }

  li {
    list-style: none;
  }

  .main-list {
    margin: 16px;
    padding-left: 0;

    .item-list {
      margin: 16px 0;
      background-color: #fff;
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      padding: 8px 16px;
      align-items: center;
      flex-wrap: nowrap;
      box-shadow: 0 0 10px 0 rgba(158, 156, 156, 0.41);
      transition: all .5s ease-in-out;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 12px 0 rgba(158, 156, 156, 0.41);
        transform: translate(0, -1px);
      }

      .info-content {
        flex-grow: 1;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle;
          margin-right: 20px;
        }

        h4 {
          display: inline-block;
          margin-right: 20%;
        }
      }
    }
  }

  .footer {
    background-color: $secondaryColor;
    padding: $rootSize * 2;
    margin-top: $rootSize;
    color: white;

    .pagseguro {
      width: 250px;
      margin: 20px auto 10px;
    }
  }
}
