<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

<ion-content>
  <div class="main-nav">
    <div class="nav-inner">
      <span class="logo">
        <a href="/"></a>
      </span>
      <a href="#" class="button-inverted">Fazer minha lista</a>
    </div>
  </div>

  <header>
    <div class="color-overlay"></div>
    <div class="title">
      <h1 class="couple-title"> Haira & Rafael</h1>
      <h2 class="couple-subtitle">Faça parte da realização do nosso sonho</h2>
    </div>
  </header>
  <div class="ui container">
    <div class="section-title">
      <h2 class="section-title-text" text-center>
        Nossos sonhos
      </h2>
    </div>
    <ion-grid hideWhen="!couple && !couple.main_dreams.length">
      <div class="row">
        <ion-col col-12 col-sm-4 *ngFor="let dream of couple.main_dreams">
          <ion-card class="highlight">
            <div class="img-card dream-one">
              <div class="card-infos">
                <ion-icon class="icon-title" name="{{dream.icon}}" color="primary"></ion-icon>
                <h3 class="dream-price">R${{dream.price}},00</h3>
                <ion-card-title class="dream-title">
                  {{dream.title}}
                </ion-card-title>
                <p class="dream-description">{{dream.description}}</p>
              </div>
              <div class="color-overlay-black"></div>
            </div>
            <ion-card-content>
              <ion-list>
                <ion-label stacked>Presentear com:</ion-label>
                <ion-input class="main-input" type="tel" [(ngModel)]="dream.contribution" placeholder="R$"></ion-input>
              </ion-list>

              <button ion-button rounded full (click)="selectGift(dream)">Presentear</button>
              <ion-list class="avatar">
                <ion-range min="0" max="{{dream.price}}" [(ngModel)]="dream.received" readonly disabled color="secondary">
                  <ion-label range-right>R$ {{dream.received || 0}},00</ion-label>
                </ion-range>
                <div *ngIf="dream && dream.contribers">
                  <h6 class="alreary-donators-title">Já presentearam</h6>
                  <ion-item  *ngFor="let c of dream.contribers">
                    <ion-avatar item-start >
                      <img src="{{c.user.photo}}">
                    </ion-avatar>
                  </ion-item>
                </div>
                <div *ngIf="dream && !dream.contribers">
                  <h6 class="alreary-donators-title">Seja o primeiro a presentear</h6>
                  <ion-item>
                    <ion-avatar item-start >
                      <img src="https://semantic-ui.com/images/avatar2/large/kristy.png">
                    </ion-avatar>
                  </ion-item>
                </div>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </div>
    </ion-grid>

    <div class="section-title">
      <h2 class="section-title-text" text-center>
        Chá de panela
      </h2>
    </div>
    <ion-grid hideWhen="!couple && !couple.secondary_dreams.length">
      <ion-row>
        <ion-col col-12 col-sm-4 *ngFor="let dream of couple.secondary_dreams">
          <ion-card>
            <div class="img-card dream-one">
              <div class="card-infos">
                <ion-icon class="icon-title" name="{{dream.icon}}" color="primary"></ion-icon>
                <h3 class="dream-price">R${{dream.price}},00</h3>
                <ion-card-title class="dream-title">
                  {{dream.title}}
                </ion-card-title>
                <p class="dream-description">{{dream.description}}</p>
              </div>
              <div class="color-overlay-black"></div>
            </div>
            <ion-card-content>
              <ion-list>
                <ion-label stacked>Presentear com:</ion-label>
                <ion-input class="main-input" type="tel" [(ngModel)]="dream.contribution" placeholder="R$"></ion-input>
              </ion-list>

              <button ion-button rounded full (click)="selectGift(dream)">Presentear</button>
              <ion-list class="avatar">
                <ion-range min="0" max="{{dream.price}}" [(ngModel)]="dream.received" readonly disabled color="secondary">
                  <ion-label range-right>R$ {{dream.received || 0}},00</ion-label>
                </ion-range>
                <div *ngIf="dream && dream.contribers">
                  <h6 class="alreary-donators-title">Já presentearam</h6>
                  <ion-item  *ngFor="let c of dream.contribers">
                    <ion-avatar item-start >
                      <img src="{{c.user.photo}}">
                    </ion-avatar>
                  </ion-item>
                </div>
                <div *ngIf="dream && !dream.contribers">
                  <h6 class="alreary-donators-title">Seja o primeiro a presentear</h6>
                  <ion-item>
                    <ion-avatar item-start >
                      <img src="https://semantic-ui.com/images/avatar2/large/kristy.png">
                    </ion-avatar>
                  </ion-item>
                </div>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <footer class="footer">
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm-3>
          Chá de Panela por Code Brew House.
          <br/>A better alternative.
          <br/>São Paulo - SP.
        </ion-col>
        <ion-col col-12 col-sm-3>
          Redes Sociais
          <ul>
            <li>Ola</li>
            <li>Ola</li>
            <li>Ola</li>
            <li>Ola</li>
          </ul>
        </ion-col>
        <ion-col col-12 col-sm-3>
          Chá de panela
        </ion-col>
        <ion-col col-12 col-sm-3>
          <img class="fintech" src="https://4.bp.blogspot.com/-EtgMOm7mihI/WMIKh1kQLWI/AAAAAAAAAfk/htVHwW12ZWMLbTVMt0u_Y87GG9tCFuqMQCLcB/s1600/Mercado%2BPago.png"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </footer>
</ion-content>
