// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
$primaryColor: #30d0fb;
$secondaryColor: #8142f9;
$white: #FFF;
$darkGrey: #5b5855;
$grey: #eff1f3;

// Responsiveness
$mobile: 768px;
$tablet: 769px;
$desktop: 1008px;
$widescreen: 1200px;
$fullhd: 1392px;

// Grid
$rootSize: 8px;

// Globals Variables
$headerHeight: 200px;

$avatarSize: 22px;

$cardBorderRadius: $rootSize;
$cardBoxShadow: 0 0 30px rgba(0,0,0,0.1);

$fullBorderRadius: 30px;

$gradient: linear-gradient(147deg, $primaryColor 0%, $secondaryColor 68%);

$borderBold: 4px;
$borderMedium: 2px;
$border: 1px;

// Overrides
$toolbar-background: $white;
$toolbar-border-color: $white;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #30d0fb,
  secondary:  #8142f9,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
