// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// Grid & Container //
.grid {
  padding: 0;
}

.ui.container {
  max-width: 980px;
  margin: 0 auto;
}

.col[col-3] {
  padding: 0;

  @media screen and (max-width: $desktop) {
    width: 100%;
    min-width: 100%;
    box-sizing: border-box;
  }
}

// Site Globals //

body {
  padding: 0;
  background: #e6e6e6;
  font-family: 'Helvetica', 'Arial';
}

li {
  list-style: none;
}

ion-app.md, ion-app.ios {
  font-family: 'Poppins', sans-serif;
}

.ui.icon.container {
  display: flex;
  justify-content: center;
  font-size: 3.5em;
}

.logo {
  background: url("../assets/img/logo.svg");
  background-size: cover;
  width: $rootSize * 25;
  height: $rootSize * 6;
  display: block;
  margin: $rootSize auto;
}


// Button
.button-default {
  padding: $rootSize * 2;
  font-weight: 700;
  box-shadow: none;
  background-color: $primaryColor;
  background-image: $gradient;
  font-size: 1em;

  &:hover {
    background-image: $gradient;
  }
}

.button-effect {
  transition: all 1s ease-in-out;
}

.button-clear {
 height: $rootSize * 10;
 color: $secondaryColor;
}

.button-full {
  border-radius: $fullBorderRadius;
  letter-spacing: 0.1em;
}

// Card
.card {
  border-radius: $cardBorderRadius;
  box-shadow: $cardBoxShadow;
  border: $borderMedium solid transparent;
  padding: $rootSize / 2;
  transition: all .2s ease-in-out;
  display: inline-block;
  display: relative;

  .icon-title {
    font-size: 2.5em;
    position: absolute;
    top: $rootSize * 3;
    left: $rootSize * 4.5;
    font-weight: bold;
  }

  ion-label {
    font-weight: bold;
    color: $darkGrey;
  }

  &.highlight {
    border: $borderMedium solid $secondaryColor;
    box-shadow: none;

    .card-title {
      font-size: 1.4em;
      color: $secondaryColor;
      text-transform: capitalize;

      margin-top: $rootSize * 3;
    }
  }

  .card-title {
    font-size: 1.4em;
  }

  .alreary-donators-title {
    text-transform: uppercase;
    color: $darkGrey;
    letter-spacing: 0.1em;
    margin: ($rootSize * 2) 0;
    font-size: 12px;
  }
}

.main-list {

  .options-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button {
      width: 35%;
      margin-left: $rootSize * 2;
      padding: $rootSize * 3;
    }
  }
}
