// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// Grid & Container //
.grid {
  padding: 0;
}

.ui.container {
  max-width: 980px;
  margin: 0 auto;
}

.col[col-3] {
  padding: 0;
  min-width: 320px;

  @media screen and (max-width: $tablet) {
    width: 100%;
    min-width: 100%;
    box-sizing: border-box;
  }
}

.main-nav {
  width: 100%;
  height: $rootSize * 8;
  background-color: $white;

  .nav-inner {
    margin: 0 auto;
    padding: ($rootSize / 2) $rootSize;
    display: flex;
    align-items: center;

    @media only screen and (max-width: $tablet) {
      padding: ($rootSize + 4px) $rootSize;
    }



    .logo {
      padding: 0 ($rootSize * 2) 0 0;
      flex-grow: 1;

      a {
        display: block;
        vertical-align: middle;
        width: $rootSize * 22;
        height: $rootSize * 6;
        background-repeat: no-repeat;
        background-position: 0 50%;
        background-image: url("../assets/img/logo.svg");
        background-size: contain;
        margin: ($rootSize / 2) $rootSize;

        -webkit-transition: opacity 0.2s ease;
        -moz-transition: opacity 0.2s ease;
        -o-transition: opacity 0.2s ease;
        transition: opacity 0.2s ease;

        @media only screen and (max-width: $tablet) {
          width: $rootSize * 18;
          height: $rootSize * 4;
        }
      }
    }
  }
}

// Site Globals //

.content {
  padding: 0;
  background: $grey;
  font-family: 'Open Sans', 'Arial', 'sans-serif';
}

li {
  list-style: none;
}

ion-app.md, ion-app.ios {
  font-family: 'Poppins', sans-serif;
}

.ui.icon.container {
  display: flex;
  justify-content: center;
  font-size: 3.5em;
}

// Button
.button-default {
  padding: $rootSize * 2;
  font-weight: 700;
  box-shadow: none;
  background-color: $primaryColor;
  background-image: $gradient;
  font-size: 1em;

  &:hover {
    background-image: $gradient;
  }
}

.button-inverted {
  color: $secondaryColor;
  font-weight: 700;
  font-size: 1.2em;
  padding: $rootSize ($rootSize * 2);
  background-color: $white;
  border: $borderMedium solid $secondaryColor;
  border-radius: $fullBorderRadius;
  text-decoration: none;
  box-shadow: none;

  @media only screen and (max-width: $tablet) {
    font-size: .9em;
  }
}

.button-effect {
  transition: all 1s ease-in-out;
}

.button-clear {
 height: $rootSize * 10;
 color: $secondaryColor;
}

.button-full {
  border-radius: $fullBorderRadius;
  letter-spacing: 0.1em;
}

// Card
.card {
  border-radius: $cardBorderRadius;
  border: $borderMedium solid transparent;
  padding: $rootSize / 2;
  transition: all .2s ease-in-out;
  display: inline-block;
  display: relative;

  .icon-title {
    font-size: 2.5em;
    position: absolute;
    top: $rootSize * 3;
    left: $rootSize * 4.5;
    font-weight: bold;
  }

  .dream-price {
    font-size: 1.8em;
    position: absolute;
    top: $rootSize * 3;
    right: $rootSize * 4;
    font-weight: bold;
    color: $darkGrey;
  }

  ion-label {
    font-weight: bold;
    color: $darkGrey;
  }

  &.highlight {
    border: $borderMedium solid $secondaryColor;
    box-shadow: none;

    .card-title {
      font-size: 1.4em;
      color: $secondaryColor;
      text-transform: capitalize;

      margin-top: $rootSize * 3;
    }
  }

  .card-title {
    font-size: 1.4em;
    margin-top: $rootSize * 2;
  }

  .alreary-donators-title {
    text-transform: uppercase;
    color: $darkGrey;
    letter-spacing: 0.1em;
    margin: ($rootSize * 2) 0;
    font-size: 12px;
  }
}

.main-list {

  .options-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button {
      width: 35%;
      margin-left: $rootSize * 2;
      padding: $rootSize * 3;
    }
  }
}
