// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$primaryColor: #30d0fb;
$secondaryColor: #8142f9;
$rootSize: 8px;
$cardBorderRadius: 22px;


.ui.container {
  max-width: 1000px;
  margin: 0 auto;
}

ion-app.md {
  font-family: 'Poppins', sans-serif;
}

.ui.icon.container {
  display: flex;
  justify-content: center;
  font-size: 3.5em;
}

.logo {
  background: url("../assets/img/logo.svg");
  background-size: cover;
  width: $rootSize * 25;
  height: $rootSize * 6;
  display: block;
  margin: $rootSize auto;
}

.button-default {
  padding: $rootSize * 2;
  font-weight: 700;
  box-shadow: none;
  background-color: $primaryColor;
  background-image: linear-gradient(147deg, $primaryColor 0%, $secondaryColor 68%);
}

.button-inner {
  font-size: 16px;
}

.button-effect {
  transition: all 1s ease-in-out;
}

.button-clear {
 height: 5.6rem;
 color: $secondaryColor;
}

.button-full-md {
  border-radius: 50px;
  letter-spacing: 0.1em;
}

.col[col-4] {
  @media screen and (max-width: 959px) {
    width: 100%;
    min-width: 100%;
    box-sizing: border-box;
  }
}

.card-md {
  border-radius: $cardBorderRadius;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
  border: 4px solid transparent;
  padding: 20px;
  transition: all .2s ease-in-out;
  display: inline-block;

  .card-title {
    color: $secondaryColor;
  }

  &:hover {
    box-shadow: 0 0 32px rgba(0,0,0,0.2);
  }

  h6 {
    text-transform: uppercase;
    color: #999;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
    font-size: 12px;
  }
}
