page-checkout {
  .main-input {
    border: 2px solid #ddd !important;
    border-radius: 8px;
    color: black;
    margin: $rootSize 0;

    &:focus {
      border-color: #8142f9;
    }
  }

  .msg {
    font-size: 18px;
    padding: 15px 30px;

    strong {
      font-weight: bold;
    }
  }

  .pagseguro {
    vertical-align: middle;
    display: inline-block;
  }

  .ui.message.checkout {
    border-radius: 20px;
    font-size: 2em;
    color: white;
    padding: 30px;
    background-color: $secondaryColor;

    strong {
      color: $primaryColor;
      font-weight: 700;
    }
  }
}
