page-checkout {
  .main-input {
    border: 2px solid #ddd !important;
    border-radius: 8px;
    color: black;
    margin: $rootSize 0;

    &:focus {
      border-color: #8142f9;
    }
  }

  .icon-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    ion-icon {
      font-size: 5em;
      color: $secondaryColor;
      margin: ($rootSize * 4) 0;
    }
  }

  .ui.message.checkout {
    font-size: 1.5em;
    color: $secondaryColor;
    padding: $rootSize;
    text-align: center;
    padding: $rootSize;
    text-align: center;
    margin: ($rootSize * 2) 0;

    @media screen and (min-width: $desktop) {
      font-size: 2.5em;
    }

    strong {
      color: $primaryColor;
      font-weight: 700;
    }
  }

  .msg {
    font-size: 1em;
    color: $darkGrey;
    padding: 0 ($rootSize * 2);
    text-align: center;
    margin: ($rootSize * 6) 0;

    @media screen and (min-width: $desktop) {
      font-size: 1.5em;
    }
  }
}
