page-tour {
  .main-slides {
    padding: $rootSize * 5;

    strong {
      color: #f97f95;
    }

    .header-slides {
      font-size: 24px;
    }

    .subtitle-slides {
      font-size: 16px;
    }

    .button-default {
      font-size: 14px;
    }
  }
}
